.navbar a {
    color: rgba(0, 0, 0, 0.50);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 160% */
}

.search {
    display: flex;
    gap: 8.8px;
    align-items: center;
    text-align: center;
    height: 40px;
}

.search .input-group {
    position: relative;
}

.search .icon {
    position: absolute;
    left: 10px;
    /* Điều chỉnh khoảng cách từ biểu tượng đến lề trái của input */
    top: 53%;
    transform: translateY(-50%);
    color: #6C757D;
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 100% */
}

.search .form-control {
    padding: 6.4px 70px 6px 40px;
    width: 232px;
    height: 36px;
    
    
    border: 1px solid #CED4DA;
    background: #FFF;
}
.form-control::placeholder {
    color: rgba(0, 0, 0, 0.50);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.search-button button {
    width: 72.6px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #007BFF;
    background-color: white;
    color: #007BFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    padding: 6.6px 12.825px 7px 12.8px;
}
.menu {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 24px;
}
.menu span {
    color: rgba(0, 0, 0, 0.90);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.menu li {
    padding: 0px;
}
.nav-link {
    padding-left: 0px;
    padding-right: 0px;
}
.slide-content {
    background: #17A2B8;
    display: flex;
    width: 1519.2px;
    height: 591px;
    padding: 0px 189.6px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.slide-content p:first-child {
    display: flex;
    width: 520.5px;
    height: 101.6px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: pink;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 120% */
}
.slide-content p:nth-child(2){
    display: flex;
    width: 535.313px;
    height: 69.6px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.50);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 25.6px;
    margin-right: 69px;
}
.slide-content .content button:first-of-type {
    display: inline-flex;
    padding: 8.6px 25.863px 9px 25.8px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #FFC107;
    background: #FFC107;
    color: #212529;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    margin-right: 20px;
}
.slide-content .content button:nth-of-type(2) {
    display: inline-flex;
    padding: 8.6px 28.112px 9px 27.8px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #FFF;
    background: #FFF;
    color: #212529;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}
.course-section {
    width: 1519.2px;
    height: 1498px;
    padding: 0px 189.6px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.card-course img{
    width: 253.4px;
    height: 150.313px;
    flex-shrink: 0;
    border-radius: 4px 4px 0px 0px;
    margin-top: 15px;
}
.p-first {
    width: 320.25px;
    height: 42.4px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #212529;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.4px; /* 120% */
    margin-top: 54px;
}
.card-body p:first-child {
    width: 197px;
    color: #007BFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px; /* 120% */
}
.group-1 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
}
.group-1 span {
    color: #212529;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.span-first {
    color: #343A40;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 160% */
}
.span-last {
    color: #6C757D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: line-through;
}
.card-foot {
    display: flex;
    align-items: center;
    text-align: center;
    width: 253.4px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 0px 0px 3px 3px;
    border-top: 0.8px solid rgba(0, 0, 0, 0.13);
    background: rgba(0, 0, 0, 0.03);
    padding: 12.8px 20px 12px 20px;
    gap: 16px;
}
.card-foot img{
    margin: 0px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 17.5px;
    
}
.card-foot span {
    color: #212529;
    font-family: Roboto;
    font-size: 11.8px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 162.712% */
}
.fa-bookmark {
    color: #6C757D;
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
.fa-clock {
    color: #212529;
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
.card-body {
    width: 253.4px;
    height: 150px;
    flex: 1 0 0;
    padding: 20px;
    background-color: #fbf4f4;

}
/* .recommend-course {
    width: 1140px;
    height: 520.7px;
} */
.footer-section{
    display: inline-flex;
    margin-left: 189.6px;
    margin-top: 14px;
    padding: 0px 15px 0px 126.638px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 141.45px;
    width: 1140px;
}
.footer-section p {
    color: #212529;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}
.nav span {
    color: #007BFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    
}
.nav {
    display: flex;
    gap: 31.8px;
    height: 40px;
    align-items: center;
}
